<div class="group">
	<% if @user %>
		<% if @user.group_id != @group.id %>
			<form action='/groups/<%=@group.id%>/join' method="post">
				<button type="submit">JOIN THIS GROUP</button>
			</form>
		<% end %>
	<% else %>
		<h3>Login on the <a href="/">home</a> page to join this group</h3>
	<% end %>

	<h2 class="group_title"><%= @group.name %>
	<form style="float:right; display:inline"action='/logout' method="post">
		<button type="submit" class="btn btn-danger">Log Out</button>
	</form></h2><br>
	<div class="row">
		<div class="top_row col-md-12">
		<div class="photo col-md-4">
			<table >
				<tr>
					<td><img src="<%= @people_in_group[0].picture_url %>" alt=""></td>
					<td><img src="<%= @people_in_group[1].picture_url %>" alt=""></td>
				</tr>
				<tr>
					<td><img src="<%= @people_in_group[2].picture_url %>" alt=""></td>
					<td><img src="<%= @people_in_group[3].picture_url %>" alt=""></td>
				</tr>
			</table>
	</div>

	<div class="preference col-md-4">
			<h3>Group Preference</h3>
			<h3>Max Price: $<%=@searchprofile.max_price%></h3>
			<h3>Number of bedrooms: <%=@searchprofile.num_bedrooms%></h3>
			<h3>Number of bathrooms: <%=@searchprofile.num_bathrooms%></h3>
			<h3>Neighborhood: <%=@searchprofile.neighborhood%></h3><br>
	</div>
</div>

	<div class="craigslist_form">
		<form action="/listings/url" method="post">
			Add a listing to the page: <input type="text" style="width:400px; margin:auto; color:black;"name="cl_url">
			<input type="submit" value="submit">
		</form>
	</div>

			<% (Listing.all).each do |listing| %>
		<div class="all_listing col-md-12">
			<div class="photo col-md-2">
				<img class="apartment" src="<%= listing.picture_url %>" alt="">
			</div>
			<div class="listing col-md-6">
				<ul>
					<li><a href="<%= listing.source_url %>">Apartment URL</a></li>
					<li>Listing Price: $<%= listing.price %></li>
					<li>Number of Bedrooms: <%=  listing.num_bedrooms%></li>
					<li>Number of Bathrooms: <%=  listing.num_bathrooms%></li>
					<li>Neighborhood: <%=  listing.neighborhood%></li>
				</ul>
			</div>
		</div>
		<% end %>
</div>


</div>
</div>