<div style="background-color:white">
	<h2>Here is your group's name: <%= @group.name %></h2><br><br>
	<h2>Here are the people in this group:</h2><br>
	<% @people_in_group.each do |person| %>
		<%= person.username %><br>
	<% end %>

	<%= erb :_send_invite_button %>

	<br>
	<h2>Here is your group's search profile: </h2>
	<h3>Max Price: $<%=@searchprofile.max_price%></h3>
	<h3>Number of bedrooms: <%=@searchprofile.num_bedrooms%></h3>
	<h3>Number of bathrooms: <%=@searchprofile.num_bathrooms%></h3>
	<h3>Neighborhood: <%=@searchprofile.neighborhood%></h3><br>
	
	<% if @user %>
		<% if @user.group_id != @group.id %>
			<form action='/groups/<%=@group.id%>/join' method="post">
				<button type="submit">JOIN THIS GROUP</button>
			</form>
		<% end %>
	<% else %>
		<h3>Login on the <a href="/">home</a> page to join this group</h3>
	<% end %>
</div>