<h1>Welcome!</h1>
<br>
User Id: <%= @user.id %><br>
Username: <%= @user.username %><br>
User email: <%= @user.email %><br>

<% if @user.group_id == nil %>
	<h2>Here are the groups you can join:</h2><br>
	<% Group.all.each do |group| %>
		<a href="/groups/#{group.id}"<%= group.name %></a>
	<% end %>
<% else %>
	<h2>Here is the group you are part of: <%= @group.name</h2>
<% end %>	